# Ignore node_modules
backend/node_modules/
iwb-app/node_modules/

# Ignore package-lock.json
package-lock.json
backend/package-lock.json
iwb-app/package-lock.json

# Ignore environment files
backend/.env

# Ignore OS-specific files
desktop.ini
.DS_Store
Thumbs.db

# Ignore build files (for later)
iwb-app/build/